.mainHeading {
  margin-top: 1rem;
  margin-left: 3rem;
  width: 80%;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  border: 0.2px solid rgba(90, 84, 84, 0.3);
  justify-content: space-between;
}
.headingContent {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-weight: 550;
}
