.container{
    margin-top: 6rem;
    margin-left: 10rem;   
    
}
.btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c6d4d2;
    color: #fff;
    border: none;
    border-radius: 5px;
    color: black;
    transition: all .3s ease-in;
}
.btn:hover {
    background-color: #5b29b9;
    color: white;
}
.correct{
        width: 25rem;
        background-color: #f8d7da; 
        color: #721c24;
        border: 1px solid #f5c6cb; 
        padding: 8px; 
        font-size: 0.8rem;
        border-radius: 4px; 
}

.btn:active {    
    transform: translateY(-0.8rem);
}
.button_container {
    display: flex;
    justify-content: center;
    margin-top: -4rem;
    margin-left: -7rem;
    margin-bottom: 4rem
    ;
}
#btnactive{
    background-color: #2963b9;
    color: white;
}
.customer_button,
.doctor_button {
    padding: 8px 13px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(54, 67, 180, 0.178);
    color: #fff;
    border: none;
    border-radius: 5px;
    color: black;
    transition: all .3s ease-in;
}

.customer_button:hover,
.doctor_button:hover {
    background-color: #5b29b9;
    color: white;
}
.customer_button:active,
.doctor_button:active{
    transition: all .2s ease;
    box-shadow: inset -7px;
    transform: translateY(-0.8rem);
} 

.login_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -4rem;
}

.login_form {
    
    padding: 20px;
    /* 
    border: 1px solid #ccc; */
    border-radius: 5px;
    margin-left: 3rem;
}
.heading_primary{
    color: purple;
    font-size: 2.4rem;
    margin-left: 6rem;
    margin-top: 1rem;
    margin-right: 4rem;
    
}

#heading_primary{
    margin-right: 3rem;
}

.last{
    border: none;
    background-color: white;
    cursor: pointer;
   margin-top: 2rem;
   margin-left: 7rem;
   color: #2963b9;
}
.login{
    padding: 6px 20px;
    margin: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(54, 67, 180, 0.178);
    color: #fff;
    border: none;
    border-radius: 5px;
    color: black;
    transition: all .3s ease-in;
    margin-left: -0.08rem;
}
.login:hover {
    
    background-color: #2971b9;
    color: white;
}

.login:active {    
    transform: translateY(-0.8rem);
}
.label{
    width: 25rem;
    display: block;
    height:1.8rem;
    /* width: 12rem; */
    text-decoration: none;
    border-color: #8773a828;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.paragraph{
    margin-top: 1rem;
    
}
.label:focus{
    border: 4px solid #8673a8;
}
.form_heading{
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #8673a8;
}

.correctEmail{
    font-size: 0.9rem;
    margin-bottom: 5px;
}