/* @import url(../../index.css); */
.container {
  display: flex;
  flex-direction: column;
}
.header {
  margin-top: 1.5rem;
  margin-left: 3rem;
  display: flex;
}

.headingPrimary {
  /* font-family:'Times New Roman', Times, serif; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: black;
  letter-spacing: 2px;
}
.left {
  margin-top: 3rem;
  width: 35rem;
  height: 38rem;
  margin-left: 11rem;

  position: relative;
}
.leftup {
  position: absolute;

  margin-left: 2rem;
  margin-right: 2rem;
  height: 22rem;
  width: 26rem;
  color: white;
  border-radius: 2rem;
  box-shadow: 2px 2px 1px #c5bcbc, -2px -2px 1cap #b8afaf;
  background-color: white;
}
.body {
  display: flex;
}
.leftdown {
  position: absolute;
  margin-top: 23rem;
  margin-left: 6rem;
  height: 14rem;
  width: 15rem;
}
.right {
  width: 50rem;
  height: 38rem;

  margin-right: 12rem;
  margin-top: 3rem;
  position: relative;
}
.rightup {
  position: absolute;
  height: 12rem;
  width: 45rem;
  margin-top: 1rem;
  margin-left: 2.5rem;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 2px 2px 1px #c5bcbc, -2px -2px 1cap #b8afaf;
  padding: 2rem;
}
.rightdown {
  position: absolute;
  height: 20rem;
  width: 45rem;
  margin-top: 16rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 1px #c5bcbc, -2px -2px 1cap #b8afaf;
  background-color: white;
  margin-left: 2.5rem;
}

.btn {
  margin-left: 50rem;
  padding: 10px 20px;

  font-size: 16px;
  cursor: pointer;
  background-color: #c6d4d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  color: black;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background-color: #5b29b9;
  color: white;
}
.btn:active {
  transform: translateY(-0.8rem);
}
#btnactive {
  background-color: #2963b9;
  color: white;
}
.input {
  text-transform: uppercase;
  background-color: #dde7eb;
  font-size: 0.8rem;
  display: block;
  height: 1.8rem;
  /* width: 12rem; */
  margin-bottom: 1rem;
  border-color: #8773a828;
  border-radius: 5px;
  width: 10rem;
}
.emailname {
  display: flex;
}
.overview {
  display: flex;
  justify-content: space-between;
}
.overviewhead {
  font-weight: 550;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.overviewHeading {
  color: gray;
}
.overviewDetails {
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}
.left_arrow_btn {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  /* background-color: #eeeeee4b; */
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  font-weight: 500;
  color: black;
  background: white;
}
.left_arrow_btn > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}
.left_arrow_btn:hover > svg {
  color: white;
  font-size: 1.2em;
  transform: translateX(-5px);
}
.left_arrow_btn:hover {
  color: white;
  background-color: var(--color-btnhover-background);
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.leftdetails {
  margin-top: -3rem;
  height: 5rem;
  /* width: 14rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}
.contact {
  color: black;

  font-size: 1.2rem;
  margin-bottom: 3rem;

  margin-left: 3rem;
  font-weight: 550;
}
.realname {
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
  font-weight: 550;
}
.contactDetails {
  text-align: center;
  color: #5e5454;
}
.body {
  margin-top: 1rem;
  background-color: var(--color-primary);
  /* background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)); */
  box-shadow: 2px 2px 1px #938888, -2px -2px 1cap #938888;
}

.profile {
  margin-left: -2rem;
  margin-right: 1rem;
  height: 8rem;
  width: 7rem;
}
.nameEdit {
  display: flex;
  width: 100%;
}
.name {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.submitting {
  margin-left: 50rem;
}
/* button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
    */
.learn_more {
  margin-left: 4rem;
  margin-top: 3rem;
}
button.learn_more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}

button.learn_more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--color-btnactive-background);
  border-radius: 1.625rem;
}

button.learn_more .circle .icon_arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn_more .circle .icon_arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn_more .circle .icon_arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;

  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn_more .button_text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin-left: 3.5rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  /* text-align: center; */
  text-align: left;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon_arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button_text {
  color: #fff;
}

.correct {
  margin-left: 0.4rem;
  color: #721c24;
  font-size: 0.7rem;
  width: 10rem;
}
.detailsHeading {
  color: black;
  width: 3rem;
  margin-right: 2rem;
  margin-top: 0.2rem;
}
