@import url(../../index.css);
.container {
  height: 90vh;
  width: 78.9%;
  background-image: url(../../assets/headerFemale.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* padding-right: 10rem; */
  position: relative;
  /* zoom: 0.5; */
  margin-left: 20rem;
}
.heading_primary {
  margin-top: 2.5rem;
  font-size: 4.5rem;
  /* letter-spacing: 0.3rem; */
  animation: moveinLeft 0.7s ease-in;
}
@keyframes moveinRight {
  0% {
    opacity: 0;
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveinLeft {
  0% {
    opacity: 0;
    transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
  }
}
.heading_secondary {
  animation: moveinRight 0.7s ease-in;
}
.left {
  position: absolute;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 70vh;
  width: 48%;

  /* background-color: blue; */
  margin-left: -15rem;
  margin-top: 6rem;
}
.leftdown {
  margin-top: 4rem;
  font-size: 1.2rem;
}
/* .right {
  border-radius: 1rem;
  position: absolute;
  height: 70vh;
  width: 44%;
  margin-left: 52rem;
  background-color: red;
  margin-top: 6rem;
} */

.findDoctor {
  margin-top: 4rem;
  padding: 17px 30px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  color: white;
  background-color: var(--color-primary);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
}

.findDoctor:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.findDoctor:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
