@import url(../../index.css);

.outercontainer {
  background-color: white;
}
.container {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  height: 45rem;
  /* background-color: var(--color-primary); */
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.logo {
  height: 4rem;
  width: 10rem;
  margin-top: -0.7rem;
  margin-left: 3rem;
}
.innerContainer {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 85rem;
  height: 38.5rem;
  margin-left: 4rem;
  margin-top: 4rem;
  border-radius: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.left {
  position: absolute;
  /* background-color: red; */
  width: 38%;
  height: 35rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.right {
  position: absolute;
  margin-left: 42rem;
  width: 48%;
  height: 35rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: var(--color-primary);
  /* mix-blend-mode: screen; */
}
.heading {
  margin-top: 10%;
  margin-left: 10%;
}
.headingPrimary {
  color: rgb(15, 15, 102);
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
  /* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-top: 1.8rem;
  font-size: 2.8rem;

  animation: fromleft 1s ease-in-out forwards;
}
@keyframes fromleft {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fromright {
  0% {
    transform: translateX(1rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.button {
  margin-top: 2.2rem;
  margin-left: 2.5rem;
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: var(--color-btnactive-background);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  color: white;
  font-size: 0.6rem;
  font-weight: 550;
  width: 12rem;
}
.paragraph {
  margin-top: 3rem;
  margin-left: 10%;
  width: 25rem;
  color: rgb(65, 42, 111);
  animation: fromright 0.9s ease;
}
.button:hover {
  letter-spacing: 3px;
  background-color: hsl(227, 58%, 50%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(70, 26, 152) 0px 7px 29px 0px;
}

.button:active {
  letter-spacing: 3px;
  background-color: hsl(261, 82%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(84, 32, 182) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.img {
  margin-top: 1rem;
  margin-left: 4rem;
  width: 8rem;
  height: 4rem;
}
.down {
  display: flex;
  flex-direction: column;
}
