@import url(../index.css);
.header {
  /* position: fixed; */
  padding-left: 4rem;
  padding-right: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(253, 254, 255);
  border-bottom: 0.5px solid rgb(203, 198, 198, 0.6);
}
.logo {
  height: 4rem;
  width: 9rem;
  background-color: red;
}
.innerContainer {
  width: 40rem;
  display: flex;
  justify-content: space-between;
}
.logout {
  width: 10rem;
}
.allnav {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border: none;
  color: #000000;
  text-align: center;
  font-size: 1rem;
  /* padding: 16px; */
  height: 3rem;
  width: 45rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-right: 2rem;
}

.allnav span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.allnav span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.active {
  /* font-weight: 550; */
  color: rgb(54, 51, 207);
  border-bottom: 2px solid rgb(54, 51, 207);
  padding-bottom: 4px;
}
.allnav:hover span {
  color: blue;
  padding-right: 15px;
}
.allnavactive {
  color: blue;
}
.allnav:hover span:after {
  opacity: 1;
  right: 0;
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--color-btnactive-background);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}
