.loginform {
    
    border: solid 1px rgba(216,216,216,0.5);
    border-radius: 4px;
    font-family: 'Lato';
    color: #787887;
    width: 400px;
}
.innerloginform
{
    
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}
.inputcheck
{
    padding-bottom: 5px;
}
.smallform
{
    display: inline;
    font-size: 13px;
}

.inputcheck2
{
    padding-bottom: 30px;
}

.registerform {
    border: solid 1px black;
    border-radius: 4px;
    font-family: 'Lato';
    color: #787887;
    margin: 50px auto;
    border-radius: 5px;
}
.control-error {
    color: red;
    font-size: 0.8rem;
    height: 2rem;
    padding: 0.5rem 0;
  }
.row-email,.row-phonenumber
{
    display: flex;
}
.row,.row-email,.row-phonenumber
{
    margin-bottom: 10px;
}
.head
{
    color:black;
}
.book_button
{
    background-color:#F04E30;
    height:40px;
    border:none;

}