.loginform {
    
    border: solid 1px rgba(216,216,216,0.5);
    border-radius: 4px;
    font-family: 'Lato';
    color: var(--color-btnactive-background);
    width: 400px;
}
.innerloginform
{
    
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}
.inputcheck
{
    padding-bottom: 5px;
}
.smallform
{
    display: inline;
    font-size: 13px;
}

.inputcheck2
{
    padding-bottom: 30px;
}

.registerform {
    border: solid 1px black;
    border-radius: 4px;
    font-family: 'Lato';
    color: var(--color-btnactive-background);
    margin: 50px auto;
    border-radius: 5px;
}
.control-error {
    color: red;
    font-size: 0.8rem;
    height: 2rem;
    padding: 0.5rem 0;
  }
.row-email,.row-phonenumber
{
    display: flex;
}
.row,.row-email,.row-phonenumber
{
    margin-bottom: 10px;
}
.head
{
    color:black;
}
.book_button
{
    background-color:var(--color-btnactive-background);
    height:40px;
    border:none;
    color:white;

}

.book_button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .book_button:hover {
    background-color: var(--color-btnactive-background);
    box-shadow: 0px 15px 20px var(--color-btnactive-background);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .book_button:active {
    transform: translateY(-1px);
  }