:root {
    --primary: #F04E30;
    --text: #58595B;
    --light-text: #454545;
    --black: #000000;
    --white: #FFFFFF;
    --bg-back: #F6F6F6;
}
.Doctorexpertise
{
    background-color: #F6F6F6;
}
.Doctorexpertisetitle
{
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
    color:#454545;
}
.expertisecards
{
    display: flex;
    padding-bottom: 50px;
}
.card
{
    width:20%;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    background: url(https://www.medanta.org/assets/images/icons/pattern-bg.png) repeat top left #fff;
    /* background-color: turquoise; */
    text-align: center;
    border-radius: 15px;
}
.card :hover{
    background-color: var(--color-btnactive-background);
}
.card1
{
    width:20%;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    background: url(https://www.medanta.org/assets/images/icons/pattern-bg.png) repeat top left #fff;
    text-align: center;
    border-radius: 15px;
    /* background-color: red; */
}
.card1 :hover{
    background-color: white;
}