.Doctorprofilestart
{
    background-color: #F6F6F6;
    display: flex;
    width:100%;
}
.Doctorprofilename
{
    color: var(--color-btnactive-background);
    font-size:40px;
}
.Doctorprofiledetais
{
    color:rgb(88, 86, 86);
}
.Doctorprofilelocation
{
    color:var(  --color-btnactive-background);
    font-size:20px;
}
.Doctorprofileimg 
{
    /* background-color: goldenrod; */
    width: 20%;
}
.Doctorprofileimg img
{
    height: 500px;
    width:300px;
}
.Doctorprofilecontent
{
    margin-left:200px;
    padding-top:100px;
    /* background-color: pink; */
}
.Doctorprofilestart
{
    display: flex;
}
.left-side
{
    display: flex;
    width:50%;
}
.right-side
{
    width: 30%;
}